body {
	font-family: 'Open Sans', sans-serif;
	color: #201b2d;
	font-size: 15px;
	padding: 0;
	margin: 0;
}

div, p, input, button, form, span, a, ul, li {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 900;
}

p {
	line-height: 1.65em;
}

.container {
	width: 1170px;
	margin: 0 auto;
}

.header {
	background-image: linear-gradient(to right bottom, #4ebefe, #47b2f5, #40a6ec, #3b9be3, #378fd9);
	height: 800px;
	padding-top: 60px;
	color: white;

}
.title span {
	font-size: 59px;
	margin-top: 45px;
}

.wrapper {
	display: flex;
	justify-content: space-between;
}



.offer {
	margin-top: 140px;
	width: 570px;
}

.title {
	font-size: 36px;
}


.intro {
	margin-bottom: 44px;
	margin-top: 30px;
	width: 400px;
}

.btn {
	font-family: 'Ubuntu', sans-serif;
	background: #ffd429;
	color: black;
	display: block;
	width: 222px;
	padding: 19px 0;
	text-align: center;
	text-decoration: none;
	transition: all 0.5s ease;
}

.btn:hover {
	background: #d9860e;
}


.learn {
	padding-top: 100px;
	padding-bottom: 120px;
}

.section-title {
	font-size: 30px;
	text-align: center;
	width: 495px;
}

.skills {
	display: flex;
	justify-content: space-between;
	margin-top: 70px;
}

.skill {
	width: 290px;
	background: url('../img/icon1.1.jpg') no-repeat top;

}

.skill-title {
	text-align: center;
	font-size: 18px;
	margin-top: 95px;
}

.skill-text {
	width: 300px;
	text-align: center;

}

.skill-free {
	width: 280px;
	background: url('../img/icon1.2.jpg') no-repeat top;
}

.skill-change {
	background: url('../img/icon1.3.jpg') no-repeat top;
}

.mail {
	background: #ecf3f8;
	height: 600px;
	padding-top: 100px;
	text-align: center;
}

.form {
	margin-top: 40px;
}

.container {
	width: 345px;
}

.input {
	width: 345px;
	margin-bottom: 18px;
	border: 1px solid #bbbbbb;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	height: 54px;
	padding-left: 26px;
}

.btn-form {
	border: 0;
	cursor: pointer;
	display: inline;
	margin-left: 11px;
}

.footer {
	padding: 33px 0;
	background: #164d7a;
	height: 140px
}

.credits {
	color: white;
	font-size: 14px;
	margin: 0;
	margin-top: 60px;
}

.btn1 {
	font-family: 'Ubuntu', sans-serif;
	background: #ffd429;
	color: black;
	display: block;
	width: 340px;
	padding: 19px 0;
	text-align: center;
	text-decoration: none;
	transition: all 0.5s ease;
}

.btn1:hover {
	background: #d9860e;
}


